{% extends "base.html" %}

{% block content %}
<h1>Car: {{ object.model }}</h1>

<p><strong>Manufacturer Name:</strong> {{ object.manufacturer.name }}</p>
<p><strong>Country:</strong> {{ object.manufacturer.country }}</p>

<h2>Drivers of this car</h2>

{% if object.drivers.all %}
<ul>
    {% for driver in object.drivers.all %}
        <li><a href="{% url 'driver' driver.id %}">{{ driver.username }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No drivers found for this car.</p>
{% endif %}
{% endblock %}
